// BEM方式で命名
@charset "UTF-8";

$color-text: #2b2a27;
$color-border: #ccc;
$border-dotted: dotted 1px $color-border;
$font-main: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  color: $color-text;
  font-family: $font-main;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.recipe {
  display: flex;
  margin-bottom: 60px;

  &__image {
    width: 50%;
    img {
      width: 100%;
      height: 700px;
      object-fit: cover;
    }
  }

  &__content {
    width: 50%;
    padding: 40px 5% 0;
  }

  &__title {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }

  &__section-title {
    border-bottom: solid 1px $color-border;
    font-size: 1.25rem;
    padding-bottom: 5px;
    margin: 40px 0 15px;
  }

  &__ingredients {
    display: flex;
    flex-wrap: wrap;

    dt {
      width: 85%;
      border-bottom: $border-dotted;
      padding: 6px 0;
    }

    dd {
      width: 15%;
      border-bottom: $border-dotted;
      padding: 6px 0;
      text-align: right;
    }
  }

  &__steps {
    list-style: decimal;
    list-style-position: outside;
    padding-left: 0;
  }

  &__step {
    border-bottom: $border-dotted;
    padding: 6px 0;
    margin-left: 20px;
  }
}

.button {
  text-align: center;
  margin-bottom: 80px;

  &__link {
    display: inline-block;
    border: solid 1px $color-text;
    font-size: 0.875rem;
    padding: 18px 60px;
    text-decoration: none;
  }
}

.footer {
  font-size: 0.75rem;
  padding: 20px;
  text-align: center;

  &__sns {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    &-item {
      margin: 0 10px;
      font-size: 0.875rem;
      font-size: 12px;
    }
  }

  &__copyright {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 12px;
  }
}

@media screen and (max-width: 834px) {
  .recipe {
    flex-direction: column;

    &__image,
    &__content {
      width: 100%;
    }

    &__image img {
      height: auto;
    }
  }
}